body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(177, 177, 37);
}
button {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  font-size: larger;
  color: rgb(88, 117, 6);
}
.container {
  width: 50%;
  color: rgb(39, 58, 3);
  margin: auto;
  margin-top: 5vh;
  font-size: larger;
}
.content {
  height: 20rem;
}
p {
  text-align: right;
}
